{% extends 'header.html' %}
     {% block content %}
     {% load static %}
     
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Ev_charging</a>
              </div>
               
                <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                
                <li><a href="{% url 'home' user.id %}">Home</a></li>
                <li class="active"><a href="#">Charging</a></li>
                <li><a href="{% url 'about_us' user.id %}">About us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                
              </ul>
              </div>
            </div>
          </nav>
          <div class="container-fluid">
<!--after nav--> 
<div class="row">
    <div class="jumbotron">
        <h1>Charge your Ev here {{user.username}} </h1>
    </div>
</div>
<div class="row">
    <div class=" col-sm-12"><div class="jumbotron">
        <h2><span class="fa fa-ticket"></span> Booking..</h2><hr>
        <h3>Avilablity</h3>
        <form  method="POST">
           {% for i in stations %}
           {% csrf_token %}
        
        
        <input type="submit" class="btn btn-primary" name="loc" value="{{ i.location }}">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
            {% endfor %}
        </form>
    </div></div>
    <div class=" col-sm-12"> <div class="jumbotron">
        <h2><span class="glyphicon glyphicon-refresh"></span> Your booking status is here..</h2><br>
        <p href="#">booking no: <span class=" label label-default">{{ bno }}</span></p>&nbsp &nbsp &nbsp
        <p href="#">location:&nbsp&nbsp &nbsp&nbsp&nbsp<span class=" label label-default"> {{ loca }}</span></p>&nbsp &nbsp &nbsp
        <p href="#">slot no:&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp<span class=" label label-default">{{ slot }}</span></p>&nbsp &nbsp &nbsp
        <p href="#">price:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span class=" label label-default">500</span></p>&nbsp &nbsp &nbsp
    </div></div>
    <div class="col-sm-6"><div class="jumbotron">
        <h2>Booking history..</h2>
        <table class="table table-sprited">
            <tr><th>Booking no</th> <td>slotno</td><th>location</th><th>date</th></tr>
            {% for i in his %}
            <tr><td>{{ i.bookingNo }}</td><td>{{ i.slotno }}</td><td>{{ i.location }}</td><td>{{ i.dateTime }}</td></tr>
            {% endfor %}
            
        </table>
    </div></div>
    <div class="col-sm-6"><div class="jumbotron">
         <h2><span class="fa fa-plug"></span> Charge Anyware</h2><br>
         <p>Your Ev can charge anywhere—with standard equipment 
             and convenient options, including our global charging networks.</p><br><br>
        </div></div>
</div>

    
     
    </div>
    
    {% endblock %}
   
