

  
  {% extends 'header.html' %}
  {% block content %}
  {% load static %}
     
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#">Ev_charging</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                
                <li class="active"><a  href="#">Home</a></li>
                <li><a href="{% url 'charging' user.id  %}">Charging</a></li>
                <li><a href="{% url 'about_us' user.id %}">About us</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                
              </ul>
              </div>
            </div>
          </nav>
          <div class="container-fluid">
<!--after nav--> 

<div class="row">
  
<div class="bg-1">
  
    <h1 class="text-center top">WELCOME {{ user.username }}</h1>
    <p class="text-center">charge your ev's using green energy.<br> Remember to book your slot !</p>

</div>
</div>
    
     
    </div>
    
   
    </div>
    <div class="row">
      <div class="bg3">
         
      </div><!-- /.bg -->
  </div><!-- /.row -->

      
       
  </div>
    <div class="jumbotron ji text-center">
      <h1>Ev charging</h1> 
      <p>We specialize in charging your car..</p> 
    </div>
    {% endblock %}